/* Estilos generales */
* {
  text-decoration: none;
  box-sizing: content-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  body{
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  /* Encabezado */
header {
  margin-top: 38px;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Navegación */
aside {
  display: flex;
  flex-direction: column;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
aside ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
aside li {
    margin: 0 10px;
  }
  
aside a {
    text-decoration: none;
    color: #333;
  }
  
  /* Contenido principal */
  main {
    padding: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  .opcion{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  .opcion a, .footer p{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .opcion__car a{
    display: flex;
    flex-direction: column;
    margin-top: 100px
  }

  .footer p{
    margin-top: 280px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border: 1px solid red;
  }
  
  .product-card {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin: 0 auto 10px;
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-count {
    display: flex;
    align-items: center;
  }
  
  .cart-number {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    margin-left: 10px;
  }






