@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    background: var(--color-body);
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    margin-top: 20px;
    margin-left: 70px;
    color: var(--color-primary);
    font-size: 32px;
}

.right{
    margin-right: 70px;
    margin-top: 29px;
    font-size: 30px;
    display: flex;
    gap: 70px;
}

.right a{
    color: var(--color-secundary);
}

.image{ 
    margin-top: 100px;
    margin-left: 1000px;
}

.image img{
    width: 600px;
}

.contenido h2{
    color: var(--color-primary);
    font-size: 100px;
    margin-top: -500px;
    margin-left: 280px;
}

.contenido h3{
    color: var(--color-secundary);
    font-size: 40px;
    margin-left: 280px;
}

.contenido button{
    color: var(--color-secundary);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    margin-top: 20px;
    margin-left: 280px;
    width: 210px;
    height: 40px;
    font-size: 25px;
}




.about-us{ 
    margin-top: 230px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax8(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.contenido2{
    margin-left: 1030px;
    margin-top: -830px;
}

.contenido2 h3{
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;
}

.contenido2, .contenido2 h3{
    text-align: left;
    color: var(--color-primary);
    font-weight: 400;
}

.contenido2 h2{
    font-size: 3rem;
    color: var(--color-secundary);
}

.contenido2 p{
    font-size: 1.6rem;
    color: var(--color-secundary);
    font-weight: 300;
}

.image2 img{
    width: 100%;
    margin-left: 90px;
    max-width: 600px;
    padding-left: 8%;
}

.contenido2 button{
    color: var(--color-secundary);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-size: 1.7rem;
    margin-top: 20px;
    width: 200px;
    height: 60px;
}

.food_menu{
    margin-top: -70px;
}
.titulo h2{
    font-size: 2.5rem;
    color: var(--color-secundary);
    display: flex;
    justify-content: center;
}

.titulo h3{
    color: var(--color-primary);
    display: flex;
    justify-content: center;
} 
.food_menu{
    margin-left: 60px;
    margin-right: -230px;
}
.gallery{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 4%;
}

.tarjetas_menu{
    background-color: var(--color-background2);
    padding: 40px;
    border-radius: 10px solid red;
    box-sizing: 6px 6px var(--color-font);
    text-align: center;
}

.tarjetas_menu img{
    background-color: var(--color-background2);
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}

.tarjetas_menu h2{
    background-color: var(--color-background2);
}
.tarjetas_menu h3{
    background-color: var(--color-background2);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-font);
}

.tarjetas_menu p{
    background-color: var(--color-background2);
    font-size: 1.1rem;
    text-align: center;
    color: var(--color-primary);
}

.services{
    margin-left: 150px;
    margin-top: 80px;
    width: 100%;
    height: 100vh;
}

.titulo_2 h2{
    font-size: 2.5rem;
    color: var(--color-secundary);
    display: flex;
    justify-content: center;
}

.titulo_2 h3{
    color: var(--color-primary);
    display: flex;
    justify-content: center;
} 

.tajetas_servicios{
    width: 100%;
    border-radius: 2%;
}

.tarjetas_servicios img{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}

.tarjetas_servicios h2{
    font-size: 1.7rem;
    text-align: center;
    color: var(--color-primary);
}

.tarjetas_servicios p{
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-secundary);
}


.fin{
    height: 350px;
    width: 1300px;
    margin-left: 260px;
    text-align: center;
    background-color: var(--color-background2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fin h2{
    font-weight: 600;
    background-color: var(--color-background2);
    color: var(--color-font);
    padding: 2%;
    font-size: 3rem;
}

.fin button{
    color: var(--color-secundary);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-size: 1.7rem;
    margin-top: 20px;
    width: 200px;
    height: 60px;
}

.footer_fin{
    width: 100%;
    border-radius: 2%;
}

.footer_fin h3{
    font-size: 1.7rem;
    text-align: center;
    color: var(--color-secundary);
}

.footer_fin h4{
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-secundary);
}