<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CampusShop</title>
  <link rel="stylesheet" href="../css/carrito.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <aside>
      <header>
        <h1>CampusShop</h1>
      </header>

        <div class="container">
            <div class="opcion">
                <a href="../index.html"><i class='bx bx-grid-alt'> Todos los productos</i></a>
                <a href="../views/abrigos.html"><i class='bx bxl-unsplash icon'> Abrigos</i></a>
                <a href="/views/camisetas.html"><i class='bx bxs-t-shirt' > Camisetas</i></a>
                <a href="/views/pantalones.html"><i class='bx bx-walk icon'> Pantalones</i></a>
            </div>
        <div class="opcion__car">
            <a href="/views/carrito.html"><i class='bx bx-cart'> Carrito 3</i></a>
        </div>
        <div class="footer">
            <p>© 2023 Camper</p>
        </div>
    </aside>

    <main>
      <section>
        <div class="principal">
            <h2>Carrito</h2>
            <div class="product-grid">
                <div class="product-card">
                    <div class="product-image"></div>
                    <div class="texto2">
                        <h3>Nombre</h3>
                        <p>Pantalones 01</p>
                    </div>
                    <div class="cant">
                        <h3>Cantidad</h3>
                        <p>2</p>        
                    </div>
                    <div class="price">
                        <h3>Precio</h3>
                        <p>$1.000</p>
                    </div>
                    <div class="sub">
                        <h3>Subtotal</h3>
                        <p>$2.000</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-cart'></i>
                    </div>
                </div>
                
                 
        </div>
      </section>
    </main>
